<!DOCTYPE html>
<html>
<head>
    <title>Filtered Posts</title>
</head>
<body>
    <h1><%= filterType === 'popular' ? 'Top Posts (Popular)' : 'Latest Posts' %></h1>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                ID: <%= post.id %>,
                Content: <%= post.content %>,
                <% if (post.commentCount !== undefined) { %>
                    Comments: <%= post.commentCount %>
                <% } %>
                <% if (post.timestamp !== undefined) { %>
                    Timestamp: <%= post.timestamp.toLocaleTimeString() %> - <%= post.timestamp.toLocaleDateString() %>
                <% } %>
            </li>
        <% }); %>
    </ul>
    <a href="/">Back to Home</a>
</body>
</html>